<%- include ('../partials/head.ejs') %>

<body>


  <%= //JSON.stringify(tasks) %>
  <div class="tasks-user-container">
    <h1>THEM TASKS</h1>
    <% tasks.forEach((task, index) => { %>
    <div class=<%= index%2 === 0 ? "each-task-user" : "left"
    %>>

      <h4><%= task.name %></h4>
      <!-- <p><%= task.description %></p> -->
      <div class="done-date">
        <p class=<%= task.done ? 'done' : 'notdone' %>><%= task.done ? 'done' : 'not done' %></p>
        <p class='date'>due date: <%= task.deliverydate %></p>
      </div>
    </div>

    <% }) %>
  </div>
</body>

</html>