<%- include ('../partials/head.ejs') %>

<body>
  <%= //JSON.stringify(tasks[0].done) %>
  <%  tasks = tasks.sort((a,b)=>a.dataValues.id - b.dataValues.id)  %>
  <div class="user-tasks-container">

    <% if(user === null) { %>
    <h1>no user found,</h1>
    <a href="/users">return to all users</a>
    <%} else { %>
    <h1>Hello, <%= user.firstname %> </h1>
    <% } %>


    <% tasks.forEach(task=>{%>
    <div class="task">
      <h3>
        <%= task.name%>
      </h3>
      <button class="button">
        <% if(task.done) { %>
        <i id=<%= task.id %> class="far fa-check-circle"></i>
        <% } else { %>
        <i id=<%= task.id %> class="far fa-times-circle"></i>
        <% } %>
      </button>
      <p class="description">
        <%= task.description%>
      </p>
      <p class="date">
        <%= task.deliverydate%>
      </p>
    </div>
    <% }) %>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script>
    // const axios = require('axios')
    const button = document.querySelectorAll('.button')
    button.forEach(each => {
      each.addEventListener('click', (e) => {

        axios
          .put("/tasks", {
            newValue: e.target.className === "far fa-check-circle" ? false : true,
            id: Number(e.target.id)
          })
          .then((res) => {
            console.log(res.data)
            location.reload()
          })

          .catch((error) => {
            console.log(error.response.data.response)
          })


      })

    })
  </script>
</body>

</html>